

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.show-grid {
  padding-top: 5vh;
  /*border: 1px solid red; */
  /*max-height: 90vh;
  overflow: auto;*/
}

#grid {
  border: 1px solid black;
  max-height: 80vh;
  overflow: auto;
}

#word-search-words {
  padding-left: 5em;
}

#word-search-words > ul {
  overflow: auto;
  /*height: 70vh;*/
}

.row {
  display: flex;
  flex-direction: row; /* default val for clarity */
  flex-wrap: nowrap; /* default val for clarity */
  justify-content: center;
  /*border: 1px solid green;*/
}

.letter {
  width: 1.70em;
  height: 1.70em;
  text-align: center;
  line-height: 1.70em;
  font-family: 'Muli', sans-serif;
  /*border: 0.1px solid red;*/
}

.highlighted-letter {
  background-color: #9575CD;
  width: 1.70em;
  height: 1.70em;
  text-align: center;
  line-height: 1.70em;
  font-family: 'Muli', sans-serif;
}

.solved-letter {
  background-color:grey;
  width: 1.70em;
  height: 1.70em;
  text-align: center;
  line-height: 1.70em;
  font-family: 'Muli', sans-serif;
}

.solved-word {
  text-decoration: line-through;
  color: red;
}

.unsolved-word {
  
}



.message-item {
  color: #212121;
}

.chatBoxTitle {
  cursor: pointer;
}

#resultsCard {
  background-color: red;
}

.myAppBar {
  height: 8vh;
}

.hiddenChatBox {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    width: 90vw;
    /*height: 10vh;*/
    margin-left: auto;
    margin-right: auto;

    padding-top: 0;

    /* grey 200 */
    background-color: #EEEEEE;
}

.visibleChatBox {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    width: 90vw;
    height: 95vh;
    margin-left: auto;
    margin-right: auto;

    padding-top: 0;
    /*padding-bottom: 25px;?*/
    background-color: #EEEEEE;

    /*overflow: auto;*/
}

.message-list {
  /*border: 1px solid red;*/
  display: block;
  overflow: scroll;
  height: 80vh;
  margin-bottom: 500px;
  /*margin-bottom: 500px;*/
}

.chatBoxTitle {
    cursor: pointer;
}