body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.show-grid {
  padding-top: 3em;
}

#grid {
  border: 1px solid black;
  /*height: 60vh;*/
  /*padding: 1em;*/

}

.row {
  display: flex;
  flex-direction: row; /* default val for clarity */
  flex-wrap: nowrap; /* default val for clarity */
  justify-content: center;
  /*border: 1px solid green;*/
}

.letter {
  min-width: 60px;
  min-height: 60px;
  text-align: center;
  line-height: 60px;
  font-family: 'Muli', sans-serif;
}

.highlighted-letter {
  border: 0.5px solid black;
  min-width: 60px;
  min-height: 60px;
  text-align: center;
  line-height: 60px;
  font-family: 'Muli', sans-serif;
}

#word-search-words {
  padding-left: 5em;
}