body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.show-grid {
  padding-top: 1.5em;
}

#grid {
  border: 1px solid black;
  /*height: 60vh;*/
  /*padding: 1em;*/

}

.row {
  display: flex;
  flex-direction: row; /* default val for clarity */
  flex-wrap: nowrap; /* default val for clarity */
  justify-content: center;
  /*border: 1px solid green;*/
}

.letter {
  width: 1.70em;
  height: 1.70em;
  text-align: center;
  line-height: 1.70em;
  font-family: 'Muli', sans-serif;
}

.highlighted-letter {
  background-color: grey;
  width: 1.70em;
  height: 1.70em;
  text-align: center;
  line-height: 1.70em;
  font-family: 'Muli', sans-serif;
}

.solved-letter {
  background-color:#9575CD;
  width: 1.70em;
  height: 1.70em;
  text-align: center;
  line-height: 1.70em;
  font-family: 'Muli', sans-serif;
}

#word-search-words {
  padding-left: 5em;
}

#word-search-words > ul {
  overflow: auto;
  height: 70vh;
}